:root {
    --black: #212121;
    --blue: #2A2AFB;
    --gray: #878787;
    --light-blue: #4FA8FB;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    font-family: 'Courier New';
    color: var(--white);
}

html {
    background: linear-gradient(45deg, var(--gray), var(--blue));
    height: 100vh;
}

.title {
    text-align: center;
}

.container {
    border: 1px solid var(--gray);
    margin: 0 auto;
    width: 60vw;
}

.nav {
    background: var(--light-blue);
    display: flex;
    font-weight: bold;;
    justify-content: space-evenly;
}

.game {
    background: var(--black);
    height: 60vh;
    width: 100%;
}

.game__objective {
    background: var(--white);
    height: 2vh;
    position: absolute;
    width: 2vw;
}

.btn-start {
    background: var(--light-blue);
    border: none;
    border-radius: 25px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 15px auto;
    padding: 8px 24px;
    width: 150px;
}
